config MTK_LCM
	bool CONFIG_MTK_LCM
	default n
	help
	  LCM driver

config MTK_I2C_LP8557
	bool MTK_I2C_LP8557
	default n
	help
	  config i2c lp8557

config MTK_GPIO_REQUEST
	bool MTK_GPIO_REQUEST
	default n
	help
	  LCM gpio request

config CUSTOM_KERNEL_LCM
	string "CUSTOM_KERNEL_LCM"
	help
	  To choose kernel LCM driver name
	  
config MTK_CPU_PWM
	bool MTK_CPU_PWM
	default n
	help
	  config cpu pwm

config MTK_LCM_DEVICE_TREE_SUPPORT
	bool "MTK_LCM_DEVICE_TREE_SUPPORT"
	help
	  Decide whether to support LCM device tree based configuration.
	  This feature requires the connection between display driver and LCM devices.
	  Please also turn on MTK_LCM_DEVICE_TREE_SUPPORT in ProjectConfig.mk.
